<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style1.css">
    <title>waYou</title>
</head>

<body>
    <h1 class="wayou">와유</h1>




    <div class="container">
        <div class="buttonShow">
            🕳
        </div>
        <div class="whiteBox"></div>
        <div class="img"></div>
        <textarea class="dansang" placeholder="그대의 짧은 단상..." maxlength="40" type="text" name="dansang"></textarea>
        <div class="buttonSave">
            📷
        </div>
    </div>
    <!--container class end-->

    <div class="textContainer">
        <div class="spaceBox">
            <br><br><br><br><br>
        </div>
        <div class="textBox">
            나 여기 가봤어!
        </div>
        <div class="textBox">
            This place is so beautiful. I wonder where it is.
        </div>
        <div class="textBox">
            나 여기 가봤어!
        </div>
        <div class="textBox">
            This place is so beautiful. I wonder where it is.
        </div>
        <div class="textBox">
            나 여기 가봤어!
        </div>
        <div class="textBox">
            This place is so beautiful. I wonder where it is.
        </div>
        <div class="textBox">
            나 여기 가봤어!
        </div>
        <div class="textBox">
            This place is so beautiful. I wonder where it is.
        </div>
    </div>
    <!--textContainer class end-->

</body>

</html>