* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
}

body {
    background-color: #6ACEAD;
    font-family: 'Noto Sans KR', sans-serif;
}

.wayou {
    float: right;
    font-size: 10.5vw;
    right: 3vw;
    position: fixed;
}





.container {
    margin-left: 8vw;
    margin-top: 3.5vw;
}

.buttonShow {
    font-size: 3vw;
    margin-bottom: 3.5vw;
    display: block;
    text-align: center;
    width: 24vw;
}

.whiteBox {
    width: 24vw;
    height: 35vw;
    background-color: #fff;
    position: relative;
}

.img {
    /* border: 1px black solid; */
    background-color: blue;
    width: 19vw;
    height: 19vw;
    position: relative;
    left: 2.5vw;
    top: -30.5vw;
}

.dansang {
    /* border: 1px red solid; */
    width: 17vw;
    height: 11vw;
    position: relative;
    left: 3.5vw;
    top: -24.5vw;
    display: block;
    background-color: transparent;
    /** 스크롤바 제거 **/
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    /** textarea 기본 속성 제거 **/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    resize: none;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2vw;
    line-height: 3.6vw;
}

/** 클릭했을 때, 회색 테두리 제거 **/
.dansang:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
}

.dansang::placeholder {
    font-size: 1.5vw;
    color: #E3E3E3;
}

.dansang::-webkit-scrollbar {
    display: none;
}

.buttonSave {
    /* border: 1px red solid; */
    position: relative;
    top: -32vw;
    left: 21.5vw;
    width: 4vw;
    text-align: right;


    font-size: 3vw;
    line-height: 3.6vw;

    cursor: pointer;
}



.textContainer {
    /* border: green 1px solid; */
    float: right;
    width: 20vw;
    height: 50vw;
    position: fixed;
    top: 3vw;
    right: 3vw;

    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;

    font-size: 1.2vw;
    line-height: 2.6vw;
}

.textContainer::-webkit-scrollbar {
    display: none;
}

.spaceBox {
    /* border: purple 1px solid; */
    margin: 0 1vw 2.5vw 1vw;
}

.textBox {
    /* border: orange 1px solid; */
    margin: 0 1vw 2.5vw 1vw;

}